.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.todo-text {
  border: none;
}

.reminder-notification-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: white;
  padding: 20px;
  gap: 20px;
  border-radius: 10px;
  border: solid rgb(117, 9, 117) 2px;
}

.reminder-notification-title {
  font-size: 28px;
}

.reminder-notification-content {
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.reminder-notification-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.reminder-notification-delete-button {
  font-size: 28px;
  background-color: inherit;
  border: none;
}

.reminder-notification-delete-button:hover {
  cursor: pointer;
}
